body{
    background-color: rgb(20, 20, 78);
    text-align: center;
}
.level-title{
    font-family: "Press Start 2P", cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
}
.btn{
    height: 200px;
    width: 200px;;
    display:inline-block;
    margin:20px;
    border: 10px solid black;
    border-radius: 20%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.pressed{
    box-shadow:0 0 15px 5px whitesmoke;
    opacity:0.5;
}
.game-over{
    background-color: red;
}
